footer {
    background-color: rgb(238, 238, 184);
    color: rgb(41, 9, 82);
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
